* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  max-width: 700px;
  min-width: 500px;
  margin: 5rem auto;
  padding: 0 2rem;
  /* border: 1px solid black; */
}

.title,
.form-container,
.todo-container {
  display: flex;
  justify-content: center;
}

.title {
  /* background-color: antiquewhite; */
  margin-bottom: 4rem;
  color: #334248;
}

.form-container {
  /* background-color: turquoise; */
  margin-bottom: 3.5rem;
}

form {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 28px;
  border-radius: 20px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
}

form input {
  flex: 1;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  line-height: 3;
  outline: none;
}

form button {
  width: 60px;
  height: 75%;
  border: none;
  border-radius: 17px;
  background-color: rgb(89, 82, 243);
  font-size: 1.8rem;
  margin-right: 15px;
  color: white;
}

form button:hover {
  cursor: pointer;
}

.todo-container {
  /* border: 1px solid black; */
}

.todo-list {
  list-style-type: none;
  width: 100%;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 0 28px;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.23s ease-in-out;
}

.todo-item.completed {
  opacity: 0.4;
}

.fall {
  transform: translateX(100%);
  opacity: 0;
}

.task {
  flex: 1;
  overflow-x: hidden;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
  letter-spacing: 0.36px;
  color: #334248;
  line-height: 3;
  margin-right: 18px;
}

.btns {
  /* background-color: rgb(255, 238, 89); */
  font-size: 1.3rem;
  color: #5e5e5e;
}

.btns i:hover {
  cursor: pointer;
}

.complete-btn {
  margin-right: 1.5rem;
  color: rgb(89, 82, 243);
}

.delete-btn {
  color: rgb(35, 193, 141);
}

.filter-btns {
  /* background-color: orange; */
  margin-bottom: 2rem;
}

.filter-btns button {
  border: none;
  background-color: rgb(243, 244, 245);
  color: rgb(51, 51, 51);
  padding: 0.8rem;
  border-radius: 10px;
  outline: none;
  margin-right: 13px;
  letter-spacing: 0.5px;
  transition: all 0.1s ease-in-out;
}

.filter-btns button:hover {
  cursor: pointer;
  background-color: rgb(76, 84, 91);
  color: white;
}
